a {color: black;}
h1 {color: black;}
h2 {color: black;}
h3 {color: black;}
p {color: black;}
li {color: black;}

body {background-color: white}

#Header {
  background-image: url("../img/bg-light.png");
}

#Header a:hover {
  color: indigo;
}

#nav a:hover {
  color: black;
}

.navbar-custom {
  background-color: #dfdfdf;
  color: black;
}

#bodyAbout a:hover {
  color: indigo;
}

#img-right img {
  border: 6px solid #dfdfdf;
}