a {color: black;}
h1 {color: black;}
h2 {color: black;}
h3 {color: black;}

body {background-color: white}

#Header {
  background-image: url("../img/bg-light.png");
}

.navbar-custom {
  background-color: #dfdfdf;
  color: black;
}
